.interexchange-comand-panel button {
    color: var(--cl-white) !important;
}
.interexchange-comand-panel .MuiTabs-indicator {
    background-color: var(--cl-white) !important;
    height: 1px;
    bottom: 13px;
    // left: 460.219px !important;
    // width: 80px !important;
}